<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 11%">User Id</th>
            <th style="width: 11%">User Name</th>
            <th style="width: 11%">Password</th>
            <th style="width: 11%">Email</th>
            <th style="width: 11%">Store </th>
            <th style="width: 11%">City</th>
            <th style="width: 11%">State</th>
            <th style="width: 11%">Administrator 1/0</th>
            <th style="width: 12%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
            <td>{{user.email}}</td>
            <td>{{user.storeName}}</td>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>{{user.isAdmin}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>