<h1 *ngIf="isAddMode">Add Items to Sell</h1>
<h1 *ngIf="!isAddMode">Edit Items</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="itemName">Item Name</label>
            <input type="text" formControlName="itemName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }" />
            <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback">
                <div *ngIf="f.itemName.errors.required">Item Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="itemConsole">Item Console Name</label>
            <input type="text" formControlName="itemConsole" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemConsole.errors }" />
            <div *ngIf="submitted && f.itemConsole.errors" class="invalid-feedback">
                <div *ngIf="f.itemConsole.errors.required"> Console Name is required </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="itemDescription">Description</label>
            <input type="text" formControlName="itemDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemDescription.errors }" />
            <div *ngIf="submitted && f.itemDescription.errors" class="invalid-feedback">
                <div *ngIf="f.itemDescription.errors.required"> Description is required </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="itemStoreName"> Store Name </label>
                <input type="text" formControlName="itemStoreName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemStoreName.errors }" />
                <div *ngIf="submitted && f.itemStoreName.errors" class="invalid-feedback">
                    <div *ngIf="f.itemStoreName.errors.required"> Store Name is not required </div>
                </div>
            </div>
        </div>
        <div class="form-row">
             <div class="form-group col">
                    <label for="itemQuantity"> Quantity </label>
                    <input type="text" formControlName="itemQuantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemQuantity.errors }" />
                    <div *ngIf="submitted && f.itemQuantity.errors" class="invalid-feedback">
                        <div *ngIf="f.itemQuantity.errors.required"> Quantity is required </div>
                    </div>
                </div>
        <div class="form-group col">
            <label for="itemPrice">
                Set Item Price
                <em *ngIf="!isAddMode">()</em> 
            </label>
            <span> $</span>
            <input type="itemPrice" formControlName="itemPrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemPrice.errors }" />
            <div *ngIf="submitted && f.itemPrice.errors" class="invalid-feedback">
                <div *ngIf="f.itemPrice.errors.required"> Item Price is required</div>
                <div *ngIf="f.itemPrice.errors.minlength">Item Value must be entered with the format 000.00 </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save Item
        </button>
        <a routerLink="/api/Users" class="btn btn-link">Cancel</a>
    </div>
</div>

</form>