<div class="p-4">
    <div class="container text-center">
        <h1>Hi {{user.userName}}!</h1>
        <p>You're logged in to Bit Crunch !!</p>
        <p><a routerLink="/users">As an Administrator you can Manage Users Here</a></p>
        
        <!-- <ng-template [ngIf]="user.IsAdmin=1" >
            <div class="users-list">
                <p><a routerLink="/users">As an Administrator you can Manage Users Here</a></p> -->
            <!-- </div>
           </ng-template> -->
           
        

        <p><a routerLink="/items"> Shop! </a></p>
        
        <br><br><br><br><br>
    </div>
</div>


